body{

background:#f4f7fb;

font-family:Arial, Helvetica, sans-serif;

}




.navbar-brand img{

height:55px;

}



.navbar-brand span{

font-size:28px;

font-weight:bold;

color:#003366;

}




.hero{

background:linear-gradient(135deg,#003366,#0056d6);

padding:70px 0;

}



.hero h1{

font-size:45px;

font-weight:bold;

}



.hero p{

font-size:20px;

}





.account-card{

border-radius:18px;

height:100%;

transition:.3s;

}



.account-card:hover{

transform:translateY(-8px);

box-shadow:0 15px 35px rgba(0,0,0,.15)!important;

}





.account-card h3{

color:#003366;

font-weight:bold;

}



.account-card h2{

color:#0056d6;

margin:20px 0;

}




.account-card ul{

padding-left:20px;

color:#555;

line-height:2;

}




.btn-primary{

background:#0056d6;

border-color:#0056d6;

}



.btn-primary:hover{

background:#003366;

}





footer{

background:#001d3d!important;

}