body{

font-family:Arial, Helvetica, sans-serif;

background:#f4f7fb;

}



.navbar-brand img{

height:55px;

}



.navbar-brand span{

font-size:28px;

font-weight:700;

color:#003366;

}



.dashboard h1{

color:#003366;

}



.card{

border-radius:16px;

}



.btn-primary{

background:#0056d6;

border-color:#0056d6;

}



.btn-primary:hover{

background:#003366;

}



.security-row{

display:flex;

justify-content:space-between;

padding:18px 0;

border-bottom:1px solid #ddd;

}



footer{

background:#001d3d !important;

}



.card-visual{

background: linear-gradient(135deg,#003366,#0056d6);

}



@media(max-width:768px){

.security-row{

flex-direction:column;

gap:10px;

}

}