body{

    background:#f4f7fb;

    font-family:Arial, Helvetica, sans-serif;

    min-height:100vh;

    display:flex;

    flex-direction:column;

}



/* HEADER */


.logo img{

    height:60px;

}


.logo span{

    margin-left:15px;

    color:#003366;

    font-size:30px;

    font-weight:bold;

}





/* REGISTER CARD */


main{

    flex:1;

    padding-top:10px;

    padding-bottom:10px;

}


.register-card{

    width:100%;

    max-width:550px;

    border-radius:18px;

}






h1{

    color:#003366;

    font-weight:700;

}






.subtitle{

    color:#666;

}






/* INPUTS */


.form-label{

    color:#003366;

    font-weight:600;

}



.form-control{

    border-radius:10px;

}



.form-control:focus{

    border-color:#0056d6;

    box-shadow:

    0 0 0 .25rem rgba(0,86,214,.15);

}






/* BUTTON */


.btn-primary{

    background:#0056d6;

    border-color:#0056d6;

    border-radius:10px;

    font-weight:bold;

}



.btn-primary:hover{

    background:#003366;

    border-color:#003366;

}






/* LOGIN LINK */


a{

    color:#0056d6;

    font-weight:bold;

    text-decoration:none;

}


a:hover{

    text-decoration:underline;

}






/* SECURITY */


.security{

    background:#e8f5e9;

    color:#006b2d;

    padding:15px;

    border-radius:8px;

    text-align:center;

    font-size:14px;

}






/* FOOTER */


footer{

    background:#001d3d;

    color:white;

}






@media(max-width:600px){

    .card-body{

        padding:30px !important;

    }


}