body{

background:#f4f7fb;

font-family:Arial, Helvetica, sans-serif;

}




.navbar-brand img{

height:55px;

}



.navbar-brand span{

font-size:28px;

font-weight:bold;

color:#003366;

}





.hero{

background:linear-gradient(135deg,#003366,#0056d6);

padding:70px 0;

}



.hero h1{

font-size:45px;

font-weight:700;

}



.hero p{

font-size:20px;

}





.support-card{

height:100%;

border-radius:18px;

transition:.3s;

}



.support-card:hover{

transform:translateY(-8px);

box-shadow:0 15px 35px rgba(0,0,0,.15)!important;

}





.support-card h3{

color:#003366;

font-weight:bold;

}




.form-label{

font-weight:600;

color:#003366;

}



.form-control{

border-radius:10px;

}



.form-control:focus{

border-color:#0056d6;

box-shadow:0 0 0 .25rem rgba(0,86,214,.15);

}





.btn-primary{

background:#0056d6;

border-color:#0056d6;

font-weight:bold;

}



.btn-primary:hover{

background:#003366;

}





footer{

background:#001d3d!important;

}