body{

    background:#4870a4;

    font-family:Arial, Helvetica, sans-serif;

}





.navbar-brand img{

    height:55px;

}



.navbar-brand span{

    color:#003366;

    font-size:28px;

    font-weight:700;

}





.transfer-card{

    border-radius:18px;

}





h1{

    color:#003366;

}






.form-label{

    color:#003366;

    font-weight:600;

}



.form-control,
.form-select{

    border-radius:10px;

}





.form-control:focus,
.form-select:focus{

    border-color:#0056d6;

    box-shadow:

    0 0 0 .25rem rgba(0,86,214,.15);

}





.btn-primary{

    background:#0056d6;

    border-color:#0056d6;

    font-weight:bold;

}



.btn-primary:hover{

    background:#003366;

}





.security-box{

    background:#e8f5e9;

    color:#006b2d;

    padding:15px;

    border-radius:10px;

}





.transaction{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 0;

    border-bottom:1px solid #ddd;

}



.transaction p{

    color:#666;

    margin:5px 0 0;

}






footer{

    background:#001d3d !important;

}