blinker==1.9.0
click==8.4.2
colorama==0.4.6
Deprecated==1.3.1
Flask==3.1.3
Flask-Limiter==4.1.1
Flask-Login==0.6.3
flask-talisman==1.1.0
Flask-WTF==1.3.0
cryptography==43.0.3
itsdangerous==2.2.0
Jinja2==3.1.6
limits==5.8.0
MarkupSafe==3.0.3
ordered-set==4.1.0
packaging==26.2
python-dotenv==1.2.2
StrEnum==0.4.15
token-bucket==0.3.0
typing_extensions==4.16.0
tzdata==2026.3
Werkzeug==3.1.8
wrapt==2.2.2
WTForms==3.2.2
